extends layout 

block content

    div.form-container
        form.sign-up(action='' method='POST')
            if error
                h1.error #{error}
            if type==='Member'
                div.form-group
                    label(for='member') Member access code
                    input.form-control(type="text" id='member' name='member' placeholder="Write the secret code to become a member")
            else
                div.form-group
                    label(for='admin')
                    input.form-control(type="text" id='admin' name='admin' placeholder="Write the secret code to become an admin")
            button.btn.btn-success(type="submit") Submit

